/*auth*/

/*.container{
	height: 800px;
}*/
 body{
	margin: 0;
	min-height: 100vh;
}

.d-flex{
	display: flex;

}
/* global styles */
.container{
	width: 1024px;
	margin: auto;
}

header{
	height: 70px;
	background-color: blueviolet;
	align-items: center;

}
header .logo{
	 width: 45px;
	 height: 45px;

}
header .container{
	align-items: center;
}
nav{
	width: calc(100% - 45px);
	justify-content: space-between;
}
nav a{
	color: white;
	text-decoration: none;
	padding: 0 10px;
}
nav a:hover{
	text-decoration: underline;
}

/*  auth   */
.auth-form-container{
	width: 300px;
	min-height: 200px;
	border:1px solid #cccc ;
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}

.auth-form-container .text-input-label{
 display: block;
 margin-bottom: 5px;
}

.auth-form-container .text-input,
.auth-form-container .locations{
 height: 35px;
 display: block;
 width: 100%;
 box-sizing: border-box;
 padding-left: 15px;
 padding-right: 15PX;
}

.auth-form-container .locations{
	background-color: white;
	border: 1px solid;
}
/*              */

.form-group{
	margin-bottom: 15px;
}

.btn-link{
	text-decoration: none;
	line-height: 35px;
	color: blueviolet;
}
.btn-link:hover{
	text-decoration: underline;
}
.w-100{
	width: 100%;
}
.mb-15{
	margin-bottom: 15px;
}
.btn{
	display: block;
	font-size: 16px;
	height: 35px;
	text-align: center;
	border: 0;
	cursor: pointer;

}
.btn-primary{
	background-color: blueviolet;
	color: white;

}

.submit-button{
	display: block;
    width: 100%;
    height: 35px;
    color: white;
    background-color: blueviolet;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

/* reset pass*/
.reset-pass-link{
	display: block;
	text-align: center;
	font-size: 12px;
}

.sex-container{
	display: inline-block;
}
 
footer{
	padding: 15px 0;
	background-color: cornsilk;
	height: 60px;
    box-sizing: border-box;
}
footer p{
	 margin: 0;
}

.body-container{
	padding: 30px 0;
	min-height: calc(100vh - 70px - 60px);
}

/*blog list page styles*/

.main-categories{
	/*margin: 0 -15px;*/
}

.main-category-item{
	border: 1px solid #cccc ;
	flex-grow: 1;
	text-align: center;
	padding: 15px 20px;
	margin: 0 15px;
    width: 25%;
    text-decoration: none;
    color: black;
}
.main-category-item:hover{
	border-color: #cccc;
	background-color: #cccc;
}
 
.main-category-item: first-child {
   margin-left: 0;
 }
 .main-category-item: last-child{
 	margin-right: 0;
 } 

.main-category-item img{
	width: 45px;
	height: 45px;

}